@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?txprc3');
  src:  url('fonts/icomoon.eot?txprc3#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?txprc3') format('truetype'),
    url('fonts/icomoon.woff?txprc3') format('woff'),
    url('fonts/icomoon.svg?txprc3#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-myicon-arrows-13:before {
  content: "\ecca";
}
.icon-myicon-arrows-12:before {
  content: "\eccb";
}
.icon-myicon-arrows-11:before {
  content: "\eccc";
}
.icon-myicon-arrows-10:before {
  content: "\eccd";
}
.icon-myicon-arrows-9:before {
  content: "\ecce";
}
.icon-myicon-arrows-8:before {
  content: "\eccf";
}
.icon-myicon-arrows-7:before {
  content: "\ecd0";
}
.icon-myicon-arrows-6:before {
  content: "\ecd1";
}
.icon-myicon-arrows-5:before {
  content: "\ecd2";
}
.icon-myicon-arrows-4:before {
  content: "\ecd3";
}
.icon-myicon-arrows-3:before {
  content: "\ecd4";
}
.icon-myicon-arrows-2:before {
  content: "\ecd5";
}
.icon-myicon-arrows-1:before {
  content: "\ecd6";
}
.icon-myicon-arrows:before {
  content: "\ecd7";
}
.icon-down-arrow:before {
  content: "\ecd8";
}
.icon-myicon-back:before {
  content: "\ecd9";
}
.icon-myicon-keyboard-right-arrow-button:before {
  content: "\ecda";
}
.icon-myicon-arrow-point-to-right:before {
  content: "\ecdb";
}
.icon-right-arrow:before {
  content: "\ecdc";
}
.icon-myicon-next3:before {
  content: "\ecdd";
}
.icon-myicon-down-arrow-2:before {
  content: "\e900";
}
.icon-myicon-right-arrow-2:before {
  content: "\e901";
}
.icon-myicon-up-arrow-2:before {
  content: "\e902";
}
.icon-myicon-loudspeaker-with-handle:before {
  content: "\e903";
}
.icon-myicon-loudspeaker-with-two-sound-waves:before {
  content: "\e904";
}
.icon-myicon-beehive:before {
  content: "\e905";
}
.icon-myicon-train-32:before {
  content: "\e906";
}
.icon-myicon-flip-flop:before {
  content: "\e907";
}
.icon-myicon-fish:before {
  content: "\e908";
}
.icon-myicon-airplane4:before {
  content: "\e909";
}
.icon-myicon-ukelele:before {
  content: "\e90a";
}
.icon-myicon-hotel-key-and-key-ring:before {
  content: "\e90b";
}
.icon-myicon-sea-shell:before {
  content: "\e90c";
}
.icon-myicon-small-fork-and-spoon:before {
  content: "\e90d";
}
.icon-myicon-train-22:before {
  content: "\e90e";
}
.icon-myicon-train-12:before {
  content: "\e90f";
}
.icon-myicon-car-12:before {
  content: "\e910";
}
.icon-myicon-delivery-truck:before {
  content: "\e911";
}
.icon-myicon-car4:before {
  content: "\e912";
}
.icon-myicon-tram2:before {
  content: "\e913";
}
.icon-myicon-scooter2:before {
  content: "\e914";
}
.icon-myicon-train4:before {
  content: "\e915";
}
.icon-myicon-down-arrow-1:before {
  content: "\e916";
}
.icon-myicon-left-arrow-1:before {
  content: "\e917";
}
.icon-myicon-down-arrow:before {
  content: "\e918";
}
.icon-myicon-up-arrow-1:before {
  content: "\e919";
}
.icon-myicon-right-arrow-1:before {
  content: "\e91a";
}
.icon-myicon-left-arrow:before {
  content: "\e91b";
}
.icon-myicon-up-arrow:before {
  content: "\e91c";
}
.icon-myicon-right-arrow:before {
  content: "\e91d";
}
.icon-myicon-presentation:before {
  content: "\e91e";
}
.icon-myicon-route:before {
  content: "\e91f";
}
.icon-myicon-yacht:before {
  content: "\e920";
}
.icon-myicon-car:before {
  content: "\e921";
}
.icon-myicon-hat:before {
  content: "\e922";
}
.icon-myicon-teamwork:before {
  content: "\e923";
}
.icon-myicon-bag-1:before {
  content: "\e924";
}
.icon-myicon-mortarboard:before {
  content: "\e925";
}
.icon-myicon-postcard:before {
  content: "\e926";
}
.icon-myicon-printer-1:before {
  content: "\e927";
}
.icon-myicon-pyramid:before {
  content: "\e928";
}
.icon-myicon-wien:before {
  content: "\e929";
}
.icon-myicon-employee:before {
  content: "\e92a";
}
.icon-myicon-travel:before {
  content: "\e92b";
}
.icon-myicon-truck-1:before {
  content: "\e92c";
}
.icon-myicon-hierarchical-structure:before {
  content: "\e92d";
}
.icon-myicon-lighthouse:before {
  content: "\e92e";
}
.icon-myicon-train:before {
  content: "\e92f";
}
.icon-myicon-goal:before {
  content: "\e930";
}
.icon-myicon-hammock:before {
  content: "\e931";
}
.icon-myicon-trolley:before {
  content: "\e932";
}
.icon-myicon-test:before {
  content: "\e933";
}
.icon-myicon-ticket:before {
  content: "\e934";
}
.icon-myicon-visa:before {
  content: "\e935";
}
.icon-myicon-big-ben:before {
  content: "\e936";
}
.icon-myicon-facebook:before {
  content: "\e937";
}
.icon-myicon-pointers:before {
  content: "\e938";
}
.icon-myicon-bus-1:before {
  content: "\e939";
}
.icon-myicon-petronas:before {
  content: "\e93a";
}
.icon-myicon-youtube:before {
  content: "\e93b";
}
.icon-myicon-tunnel:before {
  content: "\e93c";
}
.icon-myicon-twitter:before {
  content: "\e93d";
}
.icon-myicon-vespa:before {
  content: "\e93e";
}
.icon-myicon-agenda-1:before {
  content: "\e93f";
}
.icon-myicon-eiffel-tower:before {
  content: "\e940";
}
.icon-myicon-truck:before {
  content: "\e941";
}
.icon-myicon-backpack:before {
  content: "\e942";
}
.icon-myicon-photos:before {
  content: "\e943";
}
.icon-myicon-responsive:before {
  content: "\e944";
}
.icon-myicon-mountain:before {
  content: "\e945";
}
.icon-myicon-placeholder:before {
  content: "\e946";
}
.icon-myicon-smartphone-2:before {
  content: "\e947";
}
.icon-myicon-laptop:before {
  content: "\e948";
}
.icon-myicon-plane-2:before {
  content: "\e949";
}
.icon-myicon-taxi:before {
  content: "\e94a";
}
.icon-myicon-christ-the-redeemer:before {
  content: "\e94b";
}
.icon-myicon-photo:before {
  content: "\e94c";
}
.icon-myicon-woman:before {
  content: "\e94d";
}
.icon-myicon-agenda:before {
  content: "\e94e";
}
.icon-myicon-sea:before {
  content: "\e94f";
}
.icon-myicon-van-1:before {
  content: "\e950";
}
.icon-myicon-mobile-phone:before {
  content: "\e951";
}
.icon-myicon-money-1:before {
  content: "\e952";
}
.icon-myicon-tram:before {
  content: "\e953";
}
.icon-myicon-palm-tree:before {
  content: "\e954";
}
.icon-myicon-smartphone-1:before {
  content: "\e955";
}
.icon-myicon-train-3:before {
  content: "\e956";
}
.icon-myicon-headset:before {
  content: "\e957";
}
.icon-myicon-passport:before {
  content: "\e958";
}
.icon-myicon-train-2:before {
  content: "\e959";
}
.icon-myicon-bus:before {
  content: "\e95a";
}
.icon-myicon-customer-service:before {
  content: "\e95b";
}
.icon-myicon-train-1:before {
  content: "\e95c";
}
.icon-myicon-map:before {
  content: "\e95d";
}
.icon-myicon-train2:before {
  content: "\e95e";
}
.icon-myicon-24-hours:before {
  content: "\e95f";
}
.icon-myicon-pamela:before {
  content: "\e960";
}
.icon-myicon-van:before {
  content: "\e961";
}
.icon-myicon-life-vest:before {
  content: "\e962";
}
.icon-myicon-smartphone:before {
  content: "\e963";
}
.icon-myicon-tent:before {
  content: "\e964";
}
.icon-myicon-capitol:before {
  content: "\e965";
}
.icon-myicon-hanger:before {
  content: "\e966";
}
.icon-myicon-link:before {
  content: "\e967";
}
.icon-myicon-megaphone:before {
  content: "\e968";
}
.icon-myicon-sail-boat:before {
  content: "\e969";
}
.icon-myicon-temple-2:before {
  content: "\e96a";
}
.icon-myicon-airplane-1:before {
  content: "\e96b";
}
.icon-myicon-taxi2:before {
  content: "\e96c";
}
.icon-myicon-worldwide-1:before {
  content: "\e96d";
}
.icon-myicon-bed:before {
  content: "\e96e";
}
.icon-myicon-swiss:before {
  content: "\e96f";
}
.icon-myicon-wall-clock:before {
  content: "\e970";
}
.icon-myicon-id-card:before {
  content: "\e971";
}
.icon-myicon-jet-ski:before {
  content: "\e972";
}
.icon-myicon-submarine:before {
  content: "\e973";
}
.icon-myicon-assistance:before {
  content: "\e974";
}
.icon-myicon-drink:before {
  content: "\e975";
}
.icon-myicon-statue-of-liberty:before {
  content: "\e976";
}
.icon-myicon-bungalow:before {
  content: "\e977";
}
.icon-myicon-email:before {
  content: "\e978";
}
.icon-myicon-stairs:before {
  content: "\e979";
}
.icon-myicon-lifesaver:before {
  content: "\e97a";
}
.icon-myicon-printer:before {
  content: "\e97b";
}
.icon-myicon-sportive:before {
  content: "\e97c";
}
.icon-myicon-gas-station:before {
  content: "\e97d";
}
.icon-myicon-sms:before {
  content: "\e97e";
}
.icon-myicon-speedometer:before {
  content: "\e97f";
}
.icon-myicon-money:before {
  content: "\e980";
}
.icon-myicon-slippers:before {
  content: "\e981";
}
.icon-myicon-telephone-3:before {
  content: "\e982";
}
.icon-myicon-boat:before {
  content: "\e983";
}
.icon-myicon-info:before {
  content: "\e984";
}
.icon-myicon-sleeping-bag:before {
  content: "\e985";
}
.icon-myicon-direction:before {
  content: "\e986";
}
.icon-myicon-like:before {
  content: "\e987";
}
.icon-myicon-ship:before {
  content: "\e988";
}
.icon-myicon-mouse:before {
  content: "\e989";
}
.icon-myicon-temple-1:before {
  content: "\e98a";
}
.icon-myicon-tent2:before {
  content: "\e98b";
}
.icon-myicon-chat-1:before {
  content: "\e98c";
}
.icon-myicon-column:before {
  content: "\e98d";
}
.icon-myicon-scooter-1:before {
  content: "\e98e";
}
.icon-myicon-fax:before {
  content: "\e98f";
}
.icon-myicon-school-bus:before {
  content: "\e990";
}
.icon-myicon-suitcase:before {
  content: "\e991";
}
.icon-myicon-camper:before {
  content: "\e992";
}
.icon-myicon-chat:before {
  content: "\e993";
}
.icon-myicon-pool:before {
  content: "\e994";
}
.icon-myicon-bag:before {
  content: "\e995";
}
.icon-myicon-pantheon:before {
  content: "\e996";
}
.icon-myicon-telephone-2:before {
  content: "\e997";
}
.icon-myicon-rocket:before {
  content: "\e998";
}
.icon-myicon-telephone-1:before {
  content: "\e999";
}
.icon-myicon-world:before {
  content: "\e99a";
}
.icon-myicon-bridge:before {
  content: "\e99b";
}
.icon-myicon-message:before {
  content: "\e99c";
}
.icon-myicon-rio:before {
  content: "\e99d";
}
.icon-myicon-caravan:before {
  content: "\e99e";
}
.icon-myicon-reykjavik:before {
  content: "\e99f";
}
.icon-myicon-worldwide:before {
  content: "\e9a0";
}
.icon-myicon-calendar:before {
  content: "\e9a1";
}
.icon-myicon-diving:before {
  content: "\e9a2";
}
.icon-myicon-pyramids:before {
  content: "\e9a3";
}
.icon-myicon-columns:before {
  content: "\e9a4";
}
.icon-myicon-hotel:before {
  content: "\e9a5";
}
.icon-myicon-house:before {
  content: "\e9a6";
}
.icon-myicon-bike:before {
  content: "\e9a7";
}
.icon-myicon-mail:before {
  content: "\e9a8";
}
.icon-myicon-police:before {
  content: "\e9a9";
}
.icon-myicon-camera:before {
  content: "\e9aa";
}
.icon-myicon-plane-1:before {
  content: "\e9ab";
}
.icon-myicon-telephone:before {
  content: "\e9ac";
}
.icon-myicon-contract:before {
  content: "\e9ad";
}
.icon-myicon-credit-card:before {
  content: "\e9ae";
}
.icon-myicon-pin-1:before {
  content: "\e9af";
}
.icon-myicon-airplane:before {
  content: "\e9b0";
}
.icon-myicon-payphone:before {
  content: "\e9b1";
}
.icon-myicon-placeholder2:before {
  content: "\e9b2";
}
.icon-myicon-passport-3:before {
  content: "\e9b3";
}
.icon-myicon-passport-2:before {
  content: "\e9b4";
}
.icon-myicon-passport-1:before {
  content: "\e9b5";
}
.icon-myicon-passport2:before {
  content: "\e9b6";
}
.icon-myicon-parking:before {
  content: "\e9b7";
}
.icon-myicon-louvre:before {
  content: "\e9b8";
}
.icon-myicon-palm:before {
  content: "\e9b9";
}
.icon-myicon-opera-house:before {
  content: "\e9ba";
}
.icon-myicon-column2:before {
  content: "\e9bb";
}
.icon-myicon-office-1:before {
  content: "\e9bc";
}
.icon-myicon-office:before {
  content: "\e9bd";
}
.icon-myicon-muslim:before {
  content: "\e9be";
}
.icon-myicon-motel:before {
  content: "\e9bf";
}
.icon-myicon-moscow:before {
  content: "\e9c0";
}
.icon-myicon-mosque:before {
  content: "\e9c1";
}
.icon-myicon-travel2:before {
  content: "\e9c2";
}
.icon-myicon-monastery:before {
  content: "\e9c3";
}
.icon-myicon-scooter:before {
  content: "\e9c4";
}
.icon-myicon-mausoleum:before {
  content: "\e9c5";
}
.icon-myicon-map-8:before {
  content: "\e9c6";
}
.icon-myicon-map-7:before {
  content: "\e9c7";
}
.icon-myicon-map-6:before {
  content: "\e9c8";
}
.icon-myicon-map-5:before {
  content: "\e9c9";
}
.icon-myicon-map-4:before {
  content: "\e9ca";
}
.icon-myicon-pisa:before {
  content: "\e9cb";
}
.icon-myicon-ferris-wheel:before {
  content: "\e9cc";
}
.icon-myicon-traffic-lights:before {
  content: "\e9cd";
}
.icon-myicon-japan:before {
  content: "\e9ce";
}
.icon-myicon-jakarta:before {
  content: "\e9cf";
}
.icon-myicon-tablet:before {
  content: "\e9d0";
}
.icon-myicon-hotel-5:before {
  content: "\e9d1";
}
.icon-myicon-hotel-4:before {
  content: "\e9d2";
}
.icon-myicon-travel-guide:before {
  content: "\e9d3";
}
.icon-myicon-gate-1:before {
  content: "\e9d4";
}
.icon-myicon-car-5:before {
  content: "\e9d5";
}
.icon-myicon-garage:before {
  content: "\e9d6";
}
.icon-myicon-plane:before {
  content: "\e9d7";
}
.icon-myicon-elevator-2:before {
  content: "\e9d8";
}
.icon-myicon-elevator-1:before {
  content: "\e9d9";
}
.icon-myicon-elevator:before {
  content: "\e9da";
}
.icon-myicon-electric-car:before {
  content: "\e9db";
}
.icon-myicon-eiffel-tower2:before {
  content: "\e9dc";
}
.icon-myicon-earth:before {
  content: "\e9dd";
}
.icon-myicon-pin:before {
  content: "\e9de";
}
.icon-myicon-bus-12:before {
  content: "\e9df";
}
.icon-myicon-cruise:before {
  content: "\e9e0";
}
.icon-myicon-crosswalk:before {
  content: "\e9e1";
}
.icon-myicon-istanbul:before {
  content: "\e9e2";
}
.icon-myicon-compass-2:before {
  content: "\e9e3";
}
.icon-myicon-compass-1:before {
  content: "\e9e4";
}
.icon-myicon-colosseum:before {
  content: "\e9e5";
}
.icon-myicon-bus2:before {
  content: "\e9e6";
}
.icon-myicon-city:before {
  content: "\e9e7";
}
.icon-myicon-castle-1:before {
  content: "\e9e8";
}
.icon-myicon-church-1:before {
  content: "\e9e9";
}
.icon-myicon-church:before {
  content: "\e9ea";
}
.icon-myicon-chinese:before {
  content: "\e9eb";
}
.icon-myicon-cathedral:before {
  content: "\e9ec";
}
.icon-myicon-castle:before {
  content: "\e9ed";
}
.icon-myicon-carriage:before {
  content: "\e9ee";
}
.icon-myicon-car-4:before {
  content: "\e9ef";
}
.icon-myicon-car-3:before {
  content: "\e9f0";
}
.icon-myicon-car-2:before {
  content: "\e9f1";
}
.icon-myicon-car-1:before {
  content: "\e9f2";
}
.icon-myicon-car2:before {
  content: "\e9f3";
}
.icon-myicon-burj-al-arab:before {
  content: "\e9f4";
}
.icon-myicon-temple:before {
  content: "\e9f5";
}
.icon-myicon-bridge2:before {
  content: "\e9f6";
}
.icon-myicon-boat2:before {
  content: "\e9f7";
}
.icon-myicon-binoculars:before {
  content: "\e9f8";
}
.icon-myicon-compass:before {
  content: "\e9f9";
}
.icon-myicon-big-ben2:before {
  content: "\e9fa";
}
.icon-myicon-bike2:before {
  content: "\e9fb";
}
.icon-myicon-gate:before {
  content: "\e9fc";
}
.icon-myicon-barcelona:before {
  content: "\e9fd";
}
.icon-myicon-balloon:before {
  content: "\e9fe";
}
.icon-myicon-bag2:before {
  content: "\e9ff";
}
.icon-myicon-suitcase2:before {
  content: "\ea00";
}
.icon-myicon-tower-of-babel:before {
  content: "\ea01";
}
.icon-myicon-highway:before {
  content: "\ea02";
}
.icon-myicon-auckland:before {
  content: "\ea03";
}
.icon-myicon-quad:before {
  content: "\ea04";
}
.icon-myicon-turkmenistan:before {
  content: "\ea05";
}
.icon-myicon-amwaj:before {
  content: "\ea06";
}
.icon-myicon-boarding-pass:before {
  content: "\ea07";
}
.icon-myicon-hotel-3:before {
  content: "\ea08";
}
.icon-myicon-map-3:before {
  content: "\ea09";
}
.icon-myicon-hotel-2:before {
  content: "\ea0a";
}
.icon-myicon-map-2:before {
  content: "\ea0b";
}
.icon-myicon-map-1:before {
  content: "\ea0c";
}
.icon-myicon-hotel-1:before {
  content: "\ea0d";
}
.icon-myicon-map2:before {
  content: "\ea0e";
}
.icon-myicon-hotel2:before {
  content: "\ea0f";
}
.icon-myicon-aeroplane-pilot-glasses:before {
  content: "\ea10";
}
.icon-myicon-air-company-logo:before {
  content: "\ea11";
}
.icon-myicon-airplane2:before {
  content: "\ea12";
}
.icon-myicon-airplane-12:before {
  content: "\ea13";
}
.icon-myicon-airplane-seat:before {
  content: "\ea14";
}
.icon-myicon-airplane-security-belt:before {
  content: "\ea15";
}
.icon-myicon-airport-atm:before {
  content: "\ea16";
}
.icon-myicon-airport-bus:before {
  content: "\ea17";
}
.icon-myicon-airport-bus-1:before {
  content: "\ea18";
}
.icon-myicon-airport-down-stairs:before {
  content: "\ea19";
}
.icon-myicon-airport-headphones:before {
  content: "\ea1a";
}
.icon-myicon-airport-placeholder:before {
  content: "\ea1b";
}
.icon-myicon-airport-queue:before {
  content: "\ea1c";
}
.icon-myicon-airport-radar:before {
  content: "\ea1d";
}
.icon-myicon-airport-searchor:before {
  content: "\ea1e";
}
.icon-myicon-airport-security-camera:before {
  content: "\ea1f";
}
.icon-myicon-airport-taxi:before {
  content: "\ea20";
}
.icon-myicon-airport-toilets:before {
  content: "\ea21";
}
.icon-myicon-airport-tower:before {
  content: "\ea22";
}
.icon-myicon-airport-tower-1:before {
  content: "\ea23";
}
.icon-myicon-airport-x-ray-machine:before {
  content: "\ec0f";
}
.icon-myicon-airpot-cupboard:before {
  content: "\ec10";
}
.icon-myicon-alarm-clock:before {
  content: "\ec11";
}
.icon-myicon-aqualung:before {
  content: "\ec12";
}
.icon-myicon-aqualung-1:before {
  content: "\ec13";
}
.icon-myicon-backpack2:before {
  content: "\ec14";
}
.icon-myicon-backpack-1:before {
  content: "\ec15";
}
.icon-myicon-bag3:before {
  content: "\ec16";
}
.icon-myicon-bag-12:before {
  content: "\ec17";
}
.icon-myicon-baggage-scale:before {
  content: "\ec18";
}
.icon-myicon-beach-house:before {
  content: "\ec19";
}
.icon-myicon-beach-volleyball:before {
  content: "\ec1a";
}
.icon-myicon-bellhop:before {
  content: "\ec1b";
}
.icon-myicon-big-backpack:before {
  content: "\ec1c";
}
.icon-myicon-big-ben3:before {
  content: "\ec1d";
}
.icon-myicon-big-safe-box:before {
  content: "\ec1e";
}
.icon-myicon-book-bag-with-pockets:before {
  content: "\ec1f";
}
.icon-myicon-booking:before {
  content: "\ec20";
}
.icon-myicon-boot:before {
  content: "\ec21";
}
.icon-myicon-bus3:before {
  content: "\ec22";
}
.icon-myicon-calendar3:before {
  content: "\ec23";
}
.icon-myicon-calendar-day-thirty:before {
  content: "\ec24";
}
.icon-myicon-car3:before {
  content: "\ec25";
}
.icon-myicon-caravan2:before {
  content: "\ec26";
}
.icon-myicon-caravan-1:before {
  content: "\ec27";
}
.icon-myicon-car-trolley:before {
  content: "\ec28";
}
.icon-myicon-check-in:before {
  content: "\ec29";
}
.icon-myicon-check-out:before {
  content: "\ec2a";
}
.icon-myicon-clock-at-twelve-oclock:before {
  content: "\ec2b";
}
.icon-myicon-cloudy-day:before {
  content: "\ec2c";
}
.icon-myicon-clutery-for-lunch:before {
  content: "\ec2d";
}
.icon-myicon-cocktail:before {
  content: "\ec2e";
}
.icon-myicon-compass3:before {
  content: "\ec2f";
}
.icon-myicon-compass-pointing-north-east:before {
  content: "\ec30";
}
.icon-myicon-control-check:before {
  content: "\ec31";
}
.icon-myicon-credit-card3:before {
  content: "\ec32";
}
.icon-myicon-cruise2:before {
  content: "\ec33";
}
.icon-myicon-danger-sing:before {
  content: "\ec34";
}
.icon-myicon-departures-flights:before {
  content: "\ec35";
}
.icon-myicon-direction-post:before {
  content: "\ec36";
}
.icon-myicon-directions:before {
  content: "\ec37";
}
.icon-myicon-disable-sign:before {
  content: "\ec38";
}
.icon-myicon-dollar-bill-from-cash-machine:before {
  content: "\ec39";
}
.icon-myicon-duty-free-bag:before {
  content: "\ec3a";
}
.icon-myicon-duty-free-basket:before {
  content: "\ec3b";
}
.icon-myicon-eiffel-tower3:before {
  content: "\ec3c";
}
.icon-myicon-elevator2:before {
  content: "\ec3d";
}
.icon-myicon-emergency-truck:before {
  content: "\ec3e";
}
.icon-myicon-escalator-up:before {
  content: "\ec3f";
}
.icon-myicon-escalator-with-right-arrow:before {
  content: "\ec40";
}
.icon-myicon-extinguisher:before {
  content: "\ec41";
}
.icon-myicon-flight-panel:before {
  content: "\ec42";
}
.icon-myicon-flip-flops:before {
  content: "\ec43";
}
.icon-myicon-flip-flops-1:before {
  content: "\ec44";
}
.icon-myicon-fly-ticket:before {
  content: "\ec45";
}
.icon-myicon-forbbiden-phone:before {
  content: "\ec46";
}
.icon-myicon-for-sale-real-estate-hanging-signal:before {
  content: "\ec47";
}
.icon-myicon-gangway-truck:before {
  content: "\ec48";
}
.icon-myicon-gps:before {
  content: "\ec49";
}
.icon-myicon-gps-1:before {
  content: "\ec4a";
}
.icon-myicon-hangar:before {
  content: "\ec4b";
}
.icon-myicon-helicopter-flying:before {
  content: "\ec4c";
}
.icon-myicon-helm:before {
  content: "\ec4d";
}
.icon-myicon-high-voltage-sign:before {
  content: "\ec4e";
}
.icon-myicon-hot-air-balloon:before {
  content: "\ec4f";
}
.icon-myicon-hot-coffee:before {
  content: "\ec50";
}
.icon-myicon-hotel3:before {
  content: "\ec51";
}
.icon-myicon-hotel100:before {
  content: "\ec52";
}
.icon-myicon-hotel-bed:before {
  content: "\ec53";
}
.icon-myicon-hotel-sign:before {
  content: "\ec54";
}
.icon-myicon-hotel-sign-1:before {
  content: "\ec55";
}
.icon-myicon-identification-badge:before {
  content: "\ec56";
}
.icon-myicon-igloo:before {
  content: "\ec57";
}
.icon-myicon-information:before {
  content: "\ec58";
}
.icon-myicon-island:before {
  content: "\ec59";
}
.icon-myicon-keops-pyramid:before {
  content: "\ec5a";
}
.icon-myicon-key3:before {
  content: "\ec5b";
}
.icon-myicon-key-with-key-chain:before {
  content: "\ec5c";
}
.icon-myicon-landing-runway:before {
  content: "\ec5d";
}
.icon-myicon-lantern:before {
  content: "\ec5e";
}
.icon-myicon-lifeboat:before {
  content: "\ec5f";
}
.icon-myicon-life-bouy:before {
  content: "\ec60";
}
.icon-myicon-lifebuoy:before {
  content: "\ec61";
}
.icon-myicon-lifejacket:before {
  content: "\ec62";
}
.icon-myicon-lifesaver-best:before {
  content: "\ec63";
}
.icon-myicon-line:before {
  content: "\ec64";
}
.icon-myicon-london-bridge:before {
  content: "\ec65";
}
.icon-myicon-luggage:before {
  content: "\ec66";
}
.icon-myicon-luggage-1:before {
  content: "\ec67";
}
.icon-myicon-luggage-2:before {
  content: "\ec68";
}
.icon-myicon-luggage-3 .path1:before {
  content: "\ec69";
  color: rgb(255, 255, 255);
}
.icon-myicon-luggage-3 .path2:before {
  content: "\ec6a";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-myicon-luggage-4:before {
  content: "\ec6b";
}
.icon-myicon-luggage-5:before {
  content: "\ec6c";
}
.icon-myicon-luggage111:before {
  content: "\ec6d";
}
.icon-myicon-luggage-112:before {
  content: "\ec6e";
}
.icon-myicon-luggage-inspection:before {
  content: "\ec6f";
}
.icon-myicon-luggage-security:before {
  content: "\ec70";
}
.icon-myicon-luggage-trolley:before {
  content: "\ec71";
}
.icon-myicon-map4:before {
  content: "\ec72";
}
.icon-myicon-martini-with-olive:before {
  content: "\ec73";
}
.icon-myicon-modern-wirstwatch:before {
  content: "\ec74";
}
.icon-myicon-money-bag-with-dollar-symbol:before {
  content: "\ec75";
}
.icon-myicon-motorbike:before {
  content: "\ec76";
}
.icon-myicon-motorcycle:before {
  content: "\ec77";
}
.icon-myicon-mountains:before {
  content: "\ec78";
}
.icon-myicon-mountains113:before {
  content: "\ec79";
}
.icon-myicon-no-smoking-sign:before {
  content: "\ec7a";
}
.icon-myicon-old-plane:before {
  content: "\ec7b";
}
.icon-myicon-oxygen-tank:before {
  content: "\ec7c";
}
.icon-myicon-palm-tree2:before {
  content: "\ec7d";
}
.icon-myicon-parachute-open:before {
  content: "\ec7e";
}
.icon-myicon-parasailing:before {
  content: "\ec7f";
}
.icon-myicon-parking-square-sign:before {
  content: "\ec80";
}
.icon-myicon-passenger-passway:before {
  content: "\ec81";
}
.icon-myicon-passport3:before {
  content: "\ec82";
}
.icon-myicon-passport114:before {
  content: "\ec83";
}
.icon-myicon-photo-camera:before {
  content: "\ec84";
}
.icon-myicon-picking-luggage:before {
  content: "\ec85";
}
.icon-myicon-pictures:before {
  content: "\ec86";
}
.icon-myicon-pilot-hat:before {
  content: "\ec87";
}
.icon-myicon-pilot-helmet:before {
  content: "\ec88";
}
.icon-myicon-pisa-tower:before {
  content: "\ec89";
}
.icon-myicon-plane2:before {
  content: "\ec8a";
}
.icon-myicon-plane-flying:before {
  content: "\ec8b";
}
.icon-myicon-plane-front-view:before {
  content: "\ec8c";
}
.icon-myicon-plane-landing:before {
  content: "\ec8d";
}
.icon-myicon-postcards:before {
  content: "\ec8e";
}
.icon-myicon-price-tag2:before {
  content: "\ec8f";
}
.icon-myicon-purse-with-bill:before {
  content: "\ec90";
}
.icon-myicon-rent-a-car:before {
  content: "\ec91";
}
.icon-myicon-restaurant:before {
  content: "\ec92";
}
.icon-myicon-right-wing:before {
  content: "\ec93";
}
.icon-myicon-ring:before {
  content: "\ec94";
}
.icon-myicon-road-cone:before {
  content: "\ec95";
}
.icon-myicon-room-service:before {
  content: "\ec96";
}
.icon-myicon-sale:before {
  content: "\ec97";
}
.icon-myicon-sale-badge:before {
  content: "\ec98";
}
.icon-myicon-sand-bucket:before {
  content: "\ec99";
}
.icon-myicon-sand-castle:before {
  content: "\ec9a";
}
.icon-myicon-seashell:before {
  content: "\ec9b";
}
.icon-myicon-security:before {
  content: "\ec9c";
}
.icon-myicon-security-control:before {
  content: "\ec9d";
}
.icon-myicon-shopping-cart:before {
  content: "\ec9e";
}
.icon-myicon-sitting-dog:before {
  content: "\ec9f";
}
.icon-myicon-snorkel:before {
  content: "\eca0";
}
.icon-myicon-snorkel-1:before {
  content: "\eca1";
}
.icon-myicon-stamp-for-passports:before {
  content: "\eca2";
}
.icon-myicon-starfish:before {
  content: "\eca3";
}
.icon-myicon-stewardress-head:before {
  content: "\eca4";
}
.icon-myicon-sunbed:before {
  content: "\eca5";
}
.icon-myicon-sunglasses:before {
  content: "\eca6";
}
.icon-myicon-sun-glasses:before {
  content: "\eca7";
}
.icon-myicon-sunny-day:before {
  content: "\eca8";
}
.icon-myicon-sun-protection:before {
  content: "\eca9";
}
.icon-myicon-sunset:before {
  content: "\ecaa";
}
.icon-myicon-swimming-pool:before {
  content: "\ecab";
}
.icon-myicon-swimsuit:before {
  content: "\ecac";
}
.icon-myicon-taxi3:before {
  content: "\ecad";
}
.icon-myicon-taxi-sign:before {
  content: "\ecae";
}
.icon-myicon-telephone-sign:before {
  content: "\ecaf";
}
.icon-myicon-tent3:before {
  content: "\ecb0";
}
.icon-myicon-tent-1:before {
  content: "\ecb1";
}
.icon-myicon-terminal-watch:before {
  content: "\ecb2";
}
.icon-myicon-tickets:before {
  content: "\ecb3";
}
.icon-myicon-time-zones:before {
  content: "\ecb4";
}
.icon-myicon-towel:before {
  content: "\ecb5";
}
.icon-myicon-towel115:before {
  content: "\ecb6";
}
.icon-myicon-trailer-truck:before {
  content: "\ecb7";
}
.icon-myicon-train3:before {
  content: "\ecb8";
}
.icon-myicon-train-to-the-airport:before {
  content: "\ecb9";
}
.icon-myicon-tray-with-cover:before {
  content: "\ecba";
}
.icon-myicon-trip-luggage:before {
  content: "\ecbb";
}
.icon-myicon-trip-luggage-1:before {
  content: "\ecbc";
}
.icon-myicon-trip-sign:before {
  content: "\ecbd";
}
.icon-myicon-trolley-with-food:before {
  content: "\ecbe";
}
.icon-myicon-trolley-with-luggage:before {
  content: "\ecbf";
}
.icon-myicon-two-credit-cards:before {
  content: "\ecc0";
}
.icon-myicon-two-passports:before {
  content: "\ecc1";
}
.icon-myicon-two-plane-tickets:before {
  content: "\ecc2";
}
.icon-myicon-video-camera2:before {
  content: "\ecc3";
}
.icon-myicon-vintage-camera:before {
  content: "\ecc4";
}
.icon-myicon-waiting-for-flight:before {
  content: "\ecc5";
}
.icon-myicon-waiting-place:before {
  content: "\ecc6";
}
.icon-myicon-waiting-room:before {
  content: "\ecc7";
}
.icon-myicon-water-craft:before {
  content: "\ecc8";
}
.icon-myicon-week-calendar:before {
  content: "\ecc9";
}
.icon-home:before {
  content: "\ea24";
}
.icon-home2:before {
  content: "\ea25";
}
.icon-home3:before {
  content: "\ea26";
}
.icon-office2:before {
  content: "\ea27";
}
.icon-newspaper:before {
  content: "\ea28";
}
.icon-pencil:before {
  content: "\ea29";
}
.icon-pencil2:before {
  content: "\ea2a";
}
.icon-quill:before {
  content: "\ea2b";
}
.icon-pen:before {
  content: "\ea2c";
}
.icon-blog:before {
  content: "\ea2d";
}
.icon-eyedropper:before {
  content: "\ea2e";
}
.icon-droplet:before {
  content: "\ea2f";
}
.icon-paint-format:before {
  content: "\ea30";
}
.icon-image:before {
  content: "\ea31";
}
.icon-images:before {
  content: "\ea32";
}
.icon-camera2:before {
  content: "\ea33";
}
.icon-headphones:before {
  content: "\ea34";
}
.icon-music:before {
  content: "\ea35";
}
.icon-play:before {
  content: "\ea36";
}
.icon-film:before {
  content: "\ea37";
}
.icon-video-camera:before {
  content: "\ea38";
}
.icon-dice:before {
  content: "\ea39";
}
.icon-pacman:before {
  content: "\ea3a";
}
.icon-spades:before {
  content: "\ea3b";
}
.icon-clubs:before {
  content: "\ea3c";
}
.icon-diamonds:before {
  content: "\ea3d";
}
.icon-bullhorn:before {
  content: "\ea3e";
}
.icon-connection:before {
  content: "\ea3f";
}
.icon-podcast:before {
  content: "\ea40";
}
.icon-feed:before {
  content: "\ea41";
}
.icon-mic:before {
  content: "\ea42";
}
.icon-book:before {
  content: "\ea43";
}
.icon-books:before {
  content: "\ea44";
}
.icon-library:before {
  content: "\ea45";
}
.icon-file-text:before {
  content: "\ea46";
}
.icon-profile:before {
  content: "\ea47";
}
.icon-file-empty:before {
  content: "\ea48";
}
.icon-files-empty:before {
  content: "\ea49";
}
.icon-file-text2:before {
  content: "\ea4a";
}
.icon-file-picture:before {
  content: "\ea4b";
}
.icon-file-music:before {
  content: "\ea4c";
}
.icon-file-play:before {
  content: "\ea4d";
}
.icon-file-video:before {
  content: "\ea4e";
}
.icon-file-zip:before {
  content: "\ea4f";
}
.icon-copy:before {
  content: "\ea50";
}
.icon-paste:before {
  content: "\ea51";
}
.icon-stack:before {
  content: "\ea52";
}
.icon-folder:before {
  content: "\ea53";
}
.icon-folder-open:before {
  content: "\ea54";
}
.icon-folder-plus:before {
  content: "\ea55";
}
.icon-folder-minus:before {
  content: "\ea56";
}
.icon-folder-download:before {
  content: "\ea57";
}
.icon-folder-upload:before {
  content: "\ea58";
}
.icon-price-tag:before {
  content: "\ea59";
}
.icon-price-tags:before {
  content: "\ea5a";
}
.icon-barcode:before {
  content: "\ea5b";
}
.icon-qrcode:before {
  content: "\ea5c";
}
.icon-ticket2:before {
  content: "\ea5d";
}
.icon-cart:before {
  content: "\ea5e";
}
.icon-coin-dollar:before {
  content: "\ea5f";
}
.icon-coin-euro:before {
  content: "\ea60";
}
.icon-coin-pound:before {
  content: "\ea61";
}
.icon-coin-yen:before {
  content: "\ea62";
}
.icon-credit-card2:before {
  content: "\ea63";
}
.icon-calculator:before {
  content: "\ea64";
}
.icon-lifebuoy2:before {
  content: "\ea65";
}
.icon-phone:before {
  content: "\ea66";
}
.icon-phone-hang-up:before {
  content: "\ea67";
}
.icon-address-book:before {
  content: "\ea68";
}
.icon-envelop:before {
  content: "\ea69";
}
.icon-pushpin:before {
  content: "\ea6a";
}
.icon-location:before {
  content: "\ea6b";
}
.icon-location2:before {
  content: "\ea6c";
}
.icon-compass2:before {
  content: "\ea6d";
}
.icon-compass22:before {
  content: "\ea6e";
}
.icon-map3:before {
  content: "\ea6f";
}
.icon-map22:before {
  content: "\ea70";
}
.icon-history:before {
  content: "\ea71";
}
.icon-clock:before {
  content: "\ea72";
}
.icon-clock2:before {
  content: "\ea73";
}
.icon-alarm:before {
  content: "\ea74";
}
.icon-bell:before {
  content: "\ea75";
}
.icon-stopwatch:before {
  content: "\ea76";
}
.icon-calendar2:before {
  content: "\ea77";
}
.icon-printer2:before {
  content: "\ea78";
}
.icon-keyboard:before {
  content: "\ea79";
}
.icon-display:before {
  content: "\ea7a";
}
.icon-laptop2:before {
  content: "\ea7b";
}
.icon-mobile:before {
  content: "\ea7c";
}
.icon-mobile2:before {
  content: "\ea7d";
}
.icon-tablet2:before {
  content: "\ea7e";
}
.icon-tv:before {
  content: "\ea7f";
}
.icon-drawer:before {
  content: "\ea80";
}
.icon-drawer2:before {
  content: "\ea81";
}
.icon-box-add:before {
  content: "\ea82";
}
.icon-box-remove:before {
  content: "\ea83";
}
.icon-download:before {
  content: "\ea84";
}
.icon-upload:before {
  content: "\ea85";
}
.icon-floppy-disk:before {
  content: "\ea86";
}
.icon-drive:before {
  content: "\ea87";
}
.icon-database:before {
  content: "\ea88";
}
.icon-undo:before {
  content: "\ea89";
}
.icon-redo:before {
  content: "\ea8a";
}
.icon-undo2:before {
  content: "\ea8b";
}
.icon-redo2:before {
  content: "\ea8c";
}
.icon-forward:before {
  content: "\ea8d";
}
.icon-reply:before {
  content: "\ea8e";
}
.icon-bubble:before {
  content: "\ea8f";
}
.icon-bubbles:before {
  content: "\ea90";
}
.icon-bubbles2:before {
  content: "\ea91";
}
.icon-bubble2:before {
  content: "\ea92";
}
.icon-bubbles3:before {
  content: "\ea93";
}
.icon-bubbles4:before {
  content: "\ea94";
}
.icon-user:before {
  content: "\ea95";
}
.icon-users:before {
  content: "\ea96";
}
.icon-user-plus:before {
  content: "\ea97";
}
.icon-user-minus:before {
  content: "\ea98";
}
.icon-user-check:before {
  content: "\ea99";
}
.icon-user-tie:before {
  content: "\ea9a";
}
.icon-quotes-left:before {
  content: "\ea9b";
}
.icon-quotes-right:before {
  content: "\ea9c";
}
.icon-hour-glass:before {
  content: "\ea9d";
}
.icon-spinner:before {
  content: "\ea9e";
}
.icon-spinner2:before {
  content: "\ea9f";
}
.icon-spinner3:before {
  content: "\eaa0";
}
.icon-spinner4:before {
  content: "\eaa1";
}
.icon-spinner5:before {
  content: "\eaa2";
}
.icon-spinner6:before {
  content: "\eaa3";
}
.icon-spinner7:before {
  content: "\eaa4";
}
.icon-spinner8:before {
  content: "\eaa5";
}
.icon-spinner9:before {
  content: "\eaa6";
}
.icon-spinner10:before {
  content: "\eaa7";
}
.icon-spinner11:before {
  content: "\eaa8";
}
.icon-binoculars2:before {
  content: "\eaa9";
}
.icon-search:before {
  content: "\eaaa";
}
.icon-zoom-in:before {
  content: "\eaab";
}
.icon-zoom-out:before {
  content: "\eaac";
}
.icon-enlarge:before {
  content: "\eaad";
}
.icon-shrink:before {
  content: "\eaae";
}
.icon-enlarge2:before {
  content: "\eaaf";
}
.icon-shrink2:before {
  content: "\eab0";
}
.icon-key:before {
  content: "\eab1";
}
.icon-key2:before {
  content: "\eab2";
}
.icon-lock:before {
  content: "\eab3";
}
.icon-unlocked:before {
  content: "\eab4";
}
.icon-wrench:before {
  content: "\eab5";
}
.icon-equalizer:before {
  content: "\eab6";
}
.icon-equalizer2:before {
  content: "\eab7";
}
.icon-cog:before {
  content: "\eab8";
}
.icon-cogs:before {
  content: "\eab9";
}
.icon-hammer:before {
  content: "\eaba";
}
.icon-magic-wand:before {
  content: "\eabb";
}
.icon-aid-kit:before {
  content: "\eabc";
}
.icon-bug:before {
  content: "\eabd";
}
.icon-pie-chart:before {
  content: "\eabe";
}
.icon-stats-dots:before {
  content: "\eabf";
}
.icon-stats-bars:before {
  content: "\eac0";
}
.icon-stats-bars2:before {
  content: "\eac1";
}
.icon-trophy:before {
  content: "\eac2";
}
.icon-gift:before {
  content: "\eac3";
}
.icon-glass:before {
  content: "\eac4";
}
.icon-glass2:before {
  content: "\eac5";
}
.icon-mug:before {
  content: "\eac6";
}
.icon-spoon-knife:before {
  content: "\eac7";
}
.icon-leaf:before {
  content: "\eac8";
}
.icon-rocket2:before {
  content: "\eac9";
}
.icon-meter:before {
  content: "\eaca";
}
.icon-meter2:before {
  content: "\eacb";
}
.icon-hammer2:before {
  content: "\eacc";
}
.icon-fire:before {
  content: "\eacd";
}
.icon-lab:before {
  content: "\eace";
}
.icon-magnet:before {
  content: "\eacf";
}
.icon-bin:before {
  content: "\ead0";
}
.icon-bin2:before {
  content: "\ead1";
}
.icon-briefcase:before {
  content: "\ead2";
}
.icon-airplane3:before {
  content: "\ead3";
}
.icon-truck2:before {
  content: "\ead4";
}
.icon-road:before {
  content: "\ead5";
}
.icon-accessibility:before {
  content: "\ead6";
}
.icon-target:before {
  content: "\ead7";
}
.icon-shield:before {
  content: "\ead8";
}
.icon-power:before {
  content: "\ead9";
}
.icon-switch:before {
  content: "\eada";
}
.icon-power-cord:before {
  content: "\eadb";
}
.icon-clipboard:before {
  content: "\eadc";
}
.icon-list-numbered:before {
  content: "\eadd";
}
.icon-list:before {
  content: "\eade";
}
.icon-list2:before {
  content: "\eadf";
}
.icon-tree:before {
  content: "\eae0";
}
.icon-menu:before {
  content: "\eae1";
}
.icon-menu2:before {
  content: "\eae2";
}
.icon-menu3:before {
  content: "\eae3";
}
.icon-menu4:before {
  content: "\eae4";
}
.icon-cloud:before {
  content: "\eae5";
}
.icon-cloud-download:before {
  content: "\eae6";
}
.icon-cloud-upload:before {
  content: "\eae7";
}
.icon-cloud-check:before {
  content: "\eae8";
}
.icon-download2:before {
  content: "\eae9";
}
.icon-upload2:before {
  content: "\eaea";
}
.icon-download3:before {
  content: "\eaeb";
}
.icon-upload3:before {
  content: "\eaec";
}
.icon-sphere:before {
  content: "\eaed";
}
.icon-earth2:before {
  content: "\eaee";
}
.icon-link2:before {
  content: "\eaef";
}
.icon-flag:before {
  content: "\eaf0";
}
.icon-attachment:before {
  content: "\eaf1";
}
.icon-eye:before {
  content: "\eaf2";
}
.icon-eye-plus:before {
  content: "\eaf3";
}
.icon-eye-minus:before {
  content: "\eaf4";
}
.icon-eye-blocked:before {
  content: "\eaf5";
}
.icon-bookmark:before {
  content: "\eaf6";
}
.icon-bookmarks:before {
  content: "\eaf7";
}
.icon-sun:before {
  content: "\eaf8";
}
.icon-contrast:before {
  content: "\eaf9";
}
.icon-brightness-contrast:before {
  content: "\eafa";
}
.icon-star-empty:before {
  content: "\eafb";
}
.icon-star-half:before {
  content: "\eafc";
}
.icon-star-full:before {
  content: "\eafd";
}
.icon-heart:before {
  content: "\eafe";
}
.icon-heart-broken:before {
  content: "\eaff";
}
.icon-man:before {
  content: "\eb00";
}
.icon-woman2:before {
  content: "\eb01";
}
.icon-man-woman:before {
  content: "\eb02";
}
.icon-happy:before {
  content: "\eb03";
}
.icon-happy2:before {
  content: "\eb04";
}
.icon-smile:before {
  content: "\eb05";
}
.icon-smile2:before {
  content: "\eb06";
}
.icon-tongue:before {
  content: "\eb07";
}
.icon-tongue2:before {
  content: "\eb08";
}
.icon-sad:before {
  content: "\eb09";
}
.icon-sad2:before {
  content: "\eb0a";
}
.icon-wink:before {
  content: "\eb0b";
}
.icon-wink2:before {
  content: "\eb0c";
}
.icon-grin:before {
  content: "\eb0d";
}
.icon-grin2:before {
  content: "\eb0e";
}
.icon-cool:before {
  content: "\eb0f";
}
.icon-cool2:before {
  content: "\eb10";
}
.icon-angry:before {
  content: "\eb11";
}
.icon-angry2:before {
  content: "\eb12";
}
.icon-evil:before {
  content: "\eb13";
}
.icon-evil2:before {
  content: "\eb14";
}
.icon-shocked:before {
  content: "\eb15";
}
.icon-shocked2:before {
  content: "\eb16";
}
.icon-baffled:before {
  content: "\eb17";
}
.icon-baffled2:before {
  content: "\eb18";
}
.icon-confused:before {
  content: "\eb19";
}
.icon-confused2:before {
  content: "\eb1a";
}
.icon-neutral:before {
  content: "\eb1b";
}
.icon-neutral2:before {
  content: "\eb1c";
}
.icon-hipster:before {
  content: "\eb1d";
}
.icon-hipster2:before {
  content: "\eb1e";
}
.icon-wondering:before {
  content: "\eb1f";
}
.icon-wondering2:before {
  content: "\eb20";
}
.icon-sleepy:before {
  content: "\eb21";
}
.icon-sleepy2:before {
  content: "\eb22";
}
.icon-frustrated:before {
  content: "\eb23";
}
.icon-frustrated2:before {
  content: "\eb24";
}
.icon-crying:before {
  content: "\eb25";
}
.icon-crying2:before {
  content: "\eb26";
}
.icon-point-up:before {
  content: "\eb27";
}
.icon-point-right:before {
  content: "\eb28";
}
.icon-point-down:before {
  content: "\eb29";
}
.icon-point-left:before {
  content: "\eb2a";
}
.icon-warning:before {
  content: "\eb2b";
}
.icon-notification:before {
  content: "\eb2c";
}
.icon-question:before {
  content: "\eb2d";
}
.icon-plus:before {
  content: "\eb2e";
}
.icon-minus:before {
  content: "\eb2f";
}
.icon-info2:before {
  content: "\eb30";
}
.icon-cancel-circle:before {
  content: "\eb31";
}
.icon-blocked:before {
  content: "\eb32";
}
.icon-cross:before {
  content: "\eb33";
}
.icon-checkmark:before {
  content: "\eb34";
}
.icon-checkmark2:before {
  content: "\eb35";
}
.icon-spell-check:before {
  content: "\eb36";
}
.icon-enter:before {
  content: "\eb37";
}
.icon-exit:before {
  content: "\eb38";
}
.icon-play2:before {
  content: "\eb39";
}
.icon-pause:before {
  content: "\eb3a";
}
.icon-stop:before {
  content: "\eb3b";
}
.icon-previous:before {
  content: "\eb3c";
}
.icon-next:before {
  content: "\eb3d";
}
.icon-backward:before {
  content: "\eb3e";
}
.icon-forward2:before {
  content: "\eb3f";
}
.icon-play3:before {
  content: "\eb40";
}
.icon-pause2:before {
  content: "\eb41";
}
.icon-stop2:before {
  content: "\eb42";
}
.icon-backward2:before {
  content: "\eb43";
}
.icon-forward3:before {
  content: "\eb44";
}
.icon-first:before {
  content: "\eb45";
}
.icon-last:before {
  content: "\eb46";
}
.icon-previous2:before {
  content: "\eb47";
}
.icon-next2:before {
  content: "\eb48";
}
.icon-eject:before {
  content: "\eb49";
}
.icon-volume-high:before {
  content: "\eb4a";
}
.icon-volume-medium:before {
  content: "\eb4b";
}
.icon-volume-low:before {
  content: "\eb4c";
}
.icon-volume-mute:before {
  content: "\eb4d";
}
.icon-volume-mute2:before {
  content: "\eb4e";
}
.icon-volume-increase:before {
  content: "\eb4f";
}
.icon-volume-decrease:before {
  content: "\eb50";
}
.icon-loop:before {
  content: "\eb51";
}
.icon-loop2:before {
  content: "\eb52";
}
.icon-infinite:before {
  content: "\eb53";
}
.icon-shuffle:before {
  content: "\eb54";
}
.icon-arrow-up-left:before {
  content: "\eb55";
}
.icon-arrow-up:before {
  content: "\eb56";
}
.icon-arrow-up-right:before {
  content: "\eb57";
}
.icon-arrow-right:before {
  content: "\eb58";
}
.icon-arrow-down-right:before {
  content: "\eb59";
}
.icon-arrow-down:before {
  content: "\eb5a";
}
.icon-arrow-down-left:before {
  content: "\eb5b";
}
.icon-arrow-left:before {
  content: "\eb5c";
}
.icon-arrow-up-left2:before {
  content: "\eb5d";
}
.icon-arrow-up2:before {
  content: "\eb5e";
}
.icon-arrow-up-right2:before {
  content: "\eb5f";
}
.icon-arrow-right2:before {
  content: "\eb60";
}
.icon-arrow-down-right2:before {
  content: "\eb61";
}
.icon-arrow-down2:before {
  content: "\eb62";
}
.icon-arrow-down-left2:before {
  content: "\eb63";
}
.icon-arrow-left2:before {
  content: "\eb64";
}
.icon-circle-up:before {
  content: "\eb65";
}
.icon-circle-right:before {
  content: "\eb66";
}
.icon-circle-down:before {
  content: "\eb67";
}
.icon-circle-left:before {
  content: "\eb68";
}
.icon-tab:before {
  content: "\eb69";
}
.icon-move-up:before {
  content: "\eb6a";
}
.icon-move-down:before {
  content: "\eb6b";
}
.icon-sort-alpha-asc:before {
  content: "\eb6c";
}
.icon-sort-alpha-desc:before {
  content: "\eb6d";
}
.icon-sort-numeric-asc:before {
  content: "\eb6e";
}
.icon-sort-numberic-desc:before {
  content: "\eb6f";
}
.icon-sort-amount-asc:before {
  content: "\eb70";
}
.icon-sort-amount-desc:before {
  content: "\eb71";
}
.icon-command:before {
  content: "\eb72";
}
.icon-shift:before {
  content: "\eb73";
}
.icon-ctrl:before {
  content: "\eb74";
}
.icon-opt:before {
  content: "\eb75";
}
.icon-checkbox-checked:before {
  content: "\eb76";
}
.icon-checkbox-unchecked:before {
  content: "\eb77";
}
.icon-radio-checked:before {
  content: "\eb78";
}
.icon-radio-checked2:before {
  content: "\eb79";
}
.icon-radio-unchecked:before {
  content: "\eb7a";
}
.icon-crop:before {
  content: "\eb7b";
}
.icon-make-group:before {
  content: "\eb7c";
}
.icon-ungroup:before {
  content: "\eb7d";
}
.icon-scissors:before {
  content: "\eb7e";
}
.icon-filter:before {
  content: "\eb7f";
}
.icon-font:before {
  content: "\eb80";
}
.icon-ligature:before {
  content: "\eb81";
}
.icon-ligature2:before {
  content: "\eb82";
}
.icon-text-height:before {
  content: "\eb83";
}
.icon-text-width:before {
  content: "\eb84";
}
.icon-font-size:before {
  content: "\eb85";
}
.icon-bold:before {
  content: "\eb86";
}
.icon-underline:before {
  content: "\eb87";
}
.icon-italic:before {
  content: "\eb88";
}
.icon-strikethrough:before {
  content: "\eb89";
}
.icon-omega:before {
  content: "\eb8a";
}
.icon-sigma:before {
  content: "\eb8b";
}
.icon-page-break:before {
  content: "\eb8c";
}
.icon-superscript:before {
  content: "\eb8d";
}
.icon-subscript:before {
  content: "\eb8e";
}
.icon-superscript2:before {
  content: "\eb8f";
}
.icon-subscript2:before {
  content: "\eb90";
}
.icon-text-color:before {
  content: "\eb91";
}
.icon-pagebreak:before {
  content: "\eb92";
}
.icon-clear-formatting:before {
  content: "\eb93";
}
.icon-table:before {
  content: "\eb94";
}
.icon-table2:before {
  content: "\eb95";
}
.icon-insert-template:before {
  content: "\eb96";
}
.icon-pilcrow:before {
  content: "\eb97";
}
.icon-ltr:before {
  content: "\eb98";
}
.icon-rtl:before {
  content: "\eb99";
}
.icon-section:before {
  content: "\eb9a";
}
.icon-paragraph-left:before {
  content: "\eb9b";
}
.icon-paragraph-center:before {
  content: "\eb9c";
}
.icon-paragraph-right:before {
  content: "\eb9d";
}
.icon-paragraph-justify:before {
  content: "\eb9e";
}
.icon-indent-increase:before {
  content: "\eb9f";
}
.icon-indent-decrease:before {
  content: "\eba0";
}
.icon-share:before {
  content: "\eba1";
}
.icon-new-tab:before {
  content: "\eba2";
}
.icon-embed:before {
  content: "\eba3";
}
.icon-embed2:before {
  content: "\eba4";
}
.icon-terminal:before {
  content: "\eba5";
}
.icon-share2:before {
  content: "\eba6";
}
.icon-mail2:before {
  content: "\eba7";
}
.icon-mail22:before {
  content: "\eba8";
}
.icon-mail3:before {
  content: "\eba9";
}
.icon-mail4:before {
  content: "\ebaa";
}
.icon-amazon:before {
  content: "\ebab";
}
.icon-google:before {
  content: "\ebac";
}
.icon-google2:before {
  content: "\ebad";
}
.icon-google3:before {
  content: "\ebae";
}
.icon-google-plus:before {
  content: "\ebaf";
}
.icon-google-plus2:before {
  content: "\ebb0";
}
.icon-google-plus3:before {
  content: "\ebb1";
}
.icon-hangouts:before {
  content: "\ebb2";
}
.icon-google-drive:before {
  content: "\ebb3";
}
.icon-facebook2:before {
  content: "\ebb4";
}
.icon-facebook22:before {
  content: "\ebb5";
}
.icon-instagram:before {
  content: "\ebb6";
}
.icon-whatsapp:before {
  content: "\ebb7";
}
.icon-spotify:before {
  content: "\ebb8";
}
.icon-telegram:before {
  content: "\ebb9";
}
.icon-twitter2:before {
  content: "\ebba";
}
.icon-vine:before {
  content: "\ebbb";
}
.icon-vk:before {
  content: "\ebbc";
}
.icon-renren:before {
  content: "\ebbd";
}
.icon-sina-weibo:before {
  content: "\ebbe";
}
.icon-rss:before {
  content: "\ebbf";
}
.icon-rss2:before {
  content: "\ebc0";
}
.icon-youtube2:before {
  content: "\ebc1";
}
.icon-youtube22:before {
  content: "\ebc2";
}
.icon-twitch:before {
  content: "\ebc3";
}
.icon-vimeo:before {
  content: "\ebc4";
}
.icon-vimeo2:before {
  content: "\ebc5";
}
.icon-lanyrd:before {
  content: "\ebc6";
}
.icon-flickr:before {
  content: "\ebc7";
}
.icon-flickr2:before {
  content: "\ebc8";
}
.icon-flickr3:before {
  content: "\ebc9";
}
.icon-flickr4:before {
  content: "\ebca";
}
.icon-dribbble:before {
  content: "\ebcb";
}
.icon-behance:before {
  content: "\ebcc";
}
.icon-behance2:before {
  content: "\ebcd";
}
.icon-deviantart:before {
  content: "\ebce";
}
.icon-500px:before {
  content: "\ebcf";
}
.icon-steam:before {
  content: "\ebd0";
}
.icon-steam2:before {
  content: "\ebd1";
}
.icon-dropbox:before {
  content: "\ebd2";
}
.icon-onedrive:before {
  content: "\ebd3";
}
.icon-github:before {
  content: "\ebd4";
}
.icon-npm:before {
  content: "\ebd5";
}
.icon-basecamp:before {
  content: "\ebd6";
}
.icon-trello:before {
  content: "\ebd7";
}
.icon-wordpress:before {
  content: "\ebd8";
}
.icon-joomla:before {
  content: "\ebd9";
}
.icon-ello:before {
  content: "\ebda";
}
.icon-blogger:before {
  content: "\ebdb";
}
.icon-blogger2:before {
  content: "\ebdc";
}
.icon-tumblr:before {
  content: "\ebdd";
}
.icon-tumblr2:before {
  content: "\ebde";
}
.icon-yahoo:before {
  content: "\ebdf";
}
.icon-yahoo2:before {
  content: "\ebe0";
}
.icon-tux:before {
  content: "\ebe1";
}
.icon-appleinc:before {
  content: "\ebe2";
}
.icon-finder:before {
  content: "\ebe3";
}
.icon-android:before {
  content: "\ebe4";
}
.icon-windows:before {
  content: "\ebe5";
}
.icon-windows8:before {
  content: "\ebe6";
}
.icon-soundcloud:before {
  content: "\ebe7";
}
.icon-soundcloud2:before {
  content: "\ebe8";
}
.icon-skype:before {
  content: "\ebe9";
}
.icon-reddit:before {
  content: "\ebea";
}
.icon-hackernews:before {
  content: "\ebeb";
}
.icon-wikipedia:before {
  content: "\ebec";
}
.icon-linkedin:before {
  content: "\ebed";
}
.icon-linkedin2:before {
  content: "\ebee";
}
.icon-lastfm:before {
  content: "\ebef";
}
.icon-lastfm2:before {
  content: "\ebf0";
}
.icon-delicious:before {
  content: "\ebf1";
}
.icon-stumbleupon:before {
  content: "\ebf2";
}
.icon-stumbleupon2:before {
  content: "\ebf3";
}
.icon-stackoverflow:before {
  content: "\ebf4";
}
.icon-pinterest:before {
  content: "\ebf5";
}
.icon-pinterest2:before {
  content: "\ebf6";
}
.icon-xing:before {
  content: "\ebf7";
}
.icon-xing2:before {
  content: "\ebf8";
}
.icon-flattr:before {
  content: "\ebf9";
}
.icon-foursquare:before {
  content: "\ebfa";
}
.icon-yelp:before {
  content: "\ebfb";
}
.icon-paypal:before {
  content: "\ebfc";
}
.icon-chrome:before {
  content: "\ebfd";
}
.icon-firefox:before {
  content: "\ebfe";
}
.icon-IE:before {
  content: "\ebff";
}
.icon-edge:before {
  content: "\ec00";
}
.icon-safari:before {
  content: "\ec01";
}
.icon-opera:before {
  content: "\ec02";
}
.icon-file-pdf:before {
  content: "\ec03";
}
.icon-file-openoffice:before {
  content: "\ec04";
}
.icon-file-word:before {
  content: "\ec05";
}
.icon-file-excel:before {
  content: "\ec06";
}
.icon-libreoffice:before {
  content: "\ec07";
}
.icon-html-five:before {
  content: "\ec08";
}
.icon-html-five2:before {
  content: "\ec09";
}
.icon-css3:before {
  content: "\ec0a";
}
.icon-git:before {
  content: "\ec0b";
}
.icon-codepen:before {
  content: "\ec0c";
}
.icon-svg:before {
  content: "\ec0d";
}
.icon-IcoMoon:before {
  content: "\ec0e";
}
